<nav class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-house me-2"></i>Home
    </NavLink>
    <NavLink class="nav-link" href="create-vehicle" Match="NavLinkMatch.Prefix">
        <i class="bi bi-plus-circle me-2"></i>Create Vehicle
    </NavLink>
    <NavLink class="nav-link" href="vehicles" Match="NavLinkMatch.Prefix">
        <i class="bi bi-car-front me-2"></i>Vehicles
    </NavLink>
    <NavLink class="nav-link" href="/vehicle/logs" Match="NavLinkMatch.Prefix">
        <i class="bi bi-journal-text me-2"></i>Vehicle Log
    </NavLink>
    <NavLink class="nav-link" href="reminders" Match="NavLinkMatch.Prefix">
        <i class="bi bi-bell me-2"></i>Reminders
    </NavLink>
</nav>
