name: Build and Test

on:
  push:
    branches-ignore: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore GreaseMonkeyJournal.sln
    - name: Build
      run: dotnet build GreaseMonkeyJournal.sln --no-restore
    - name: Test
      run: dotnet test GreaseMonkeyJournal.sln --no-build --verbosity normal
